:root {
  /* Colours */
  --white: #fff;
  --black: #000;
  --off-black: #272727;
  --main-blue: #132030;
  --light-blue: #E6ECF2;

  --black-rgba: 0, 0, 0;

  /* Heights */
  --header-height: 35rem;
  --header-collapsed: 10rem;

  /* Z-Indeces */
  --film-card-overlay: 4;
  --nav-toggle-index: 6;
}
